%list-reset {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

%sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
}
