@if $is-frontend {
  .screen-reader-text {
    @extend %sr-only;

    &:focus {
      display: block;
      top: 5px;
      left: 5px;
      z-index: 100000;
      width: auto;
      height: auto;
      padding: 1rem;
      clip: auto !important;
      clip-path: none;
      background-color: var(--wp--preset--color--background, $color-background);
      color: var(--wp--preset--color--foreground, $color-foreground);
      font-size: 1em;
      line-height: normal;
      text-decoration: none;
    }
  }
}
