// This variable is repeated across Button, Buttons, and Buttons editor styles.
$blocks-block__margin: 0.5em;

// Prefer the link selector instead of the regular button classname
// to support the previous markup in addition to the new one.
.wp-block-button__link {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  word-break: break-word; // overflow-wrap doesn't work well if a link is wrapped in the div, so use word-break here.
  // box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0;
  background: var(--wp--preset--color--foreground);
  color: var(--wp--preset--color--white);
  font-size: inherit;
  line-height: 1;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    /*rtl:ignore*/
    text-align: right;
  }
}

// These rules are set to zero specificity to keep the default styles for buttons.
// They are needed for backwards compatibility.
:where(.wp-block-button__link) {
  // This needs a low specificity so it won't override the rules from the button element if defined in theme.json.
  // box-shadow: none;
  text-decoration: none;
}

// Increased specificity needed to override margins.
.wp-block-buttons > .wp-block-button {
  &.has-custom-width {
    max-width: none;
    .wp-block-button__link {
      width: 100%;
    }
  }

  &.has-custom-font-size {
    .wp-block-button__link {
      font-size: inherit;
    }
  }

  &.wp-block-button__width-25 {
    width: calc(25% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.75));
  }

  &.wp-block-button__width-50 {
    width: calc(50% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.5));
  }

  &.wp-block-button__width-75 {
    width: calc(75% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.25));
  }

  &.wp-block-button__width-100 {
    width: 100%;
    flex-basis: 100%;
  }
}

// For vertical buttons, gap is not factored into width calculations.
.wp-block-buttons.is-vertical > .wp-block-button {
  &.wp-block-button__width-25 {
    width: 25%;
  }

  &.wp-block-button__width-50 {
    width: 50%;
  }

  &.wp-block-button__width-75 {
    width: 75%;
  }
}
