// Prefer the link selector instead of the regular button classname
// to support the previous markup in addition to the new one.
.wp-block-button__link {
  color: $color-white;
  background-color: $color-major;
  border: 0;
  border-radius: 0;
  // box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0.25em 0.75em;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;

  // &:hover,
  // &:focus,
  // &:active,
  // &:visited {
  //   color: inherit;
  // }

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }
}

// // the first selector is required for old buttons markup
// .wp-block-button.is-style-squared,
// .wp-block-button__link.wp-block-button.is-style-squared {
//   border-radius: 0;
// }

// // the first selector is required for old buttons markup

// .wp-block-button.no-border-radius,
// .wp-block-button__link.no-border-radius {
//   border-radius: 0 !important;
// }

// .wp-block-button.is-style-outline .wp-block-button__link,
// .wp-block-button__link.is-style-outline {
//   color: $dark-gray-700;
//   background-color: transparent;
//   border: 2px solid;
// }

.wp-block-buttons .wp-block-button {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.wp-block-buttons.alignright .wp-block-button {
  margin-right: 0;
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}

.wp-block-buttons.alignleft .wp-block-button {
  margin-left: 0;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.wp-block-buttons.aligncenter {
  text-align: center;
}
