// This variable is repeated across Button, Buttons, and Buttons editor styles.
// $blocks-block__margin: 0.5em;

// Prefer the link selector instead of the regular button classname
// to support the previous markup in addition to the new one.
.wp-block-button__link {
  color: $color-white;
  background-color: $color-major;
  border: 0;
  border-radius: 0;
  // box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0.25em 0.75em;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;

  // &:hover,
  // &:focus,
  // &:active,
  // &:visited {
  //   color: inherit;
  // }

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    /*rtl:ignore*/
    text-align: right;
  }
}

// Increased specificity needed to override margins
.wp-block-buttons > .wp-block-button {
  &.has-custom-width {
    max-width: none;
    .wp-block-button__link {
      width: 100%;
    }
  }

  &.has-custom-font-size {
    .wp-block-button__link {
      font-size: inherit;
    }
  }

  &.wp-block-button__width-25 {
    width: calc(25% - 1em);
  }

  &.wp-block-button__width-50 {
    width: calc(50% - 1em);
  }

  &.wp-block-button__width-75 {
    width: calc(75% - 1em);
  }

  &.wp-block-button__width-100 {
    width: calc(100% - 1em);

    &:only-child {
      margin-right: 0;
      width: 100%;
    }
  }
}

// If the browser supports column-gap, use that instead of the margins above.
@supports (column-gap: 1em) {
  .wp-block-buttons {

    > .wp-block-button,
    &.is-content-justification-right > .wp-block-button, {
      // Added (duplicate) specificity needed to override the default button margin.
      &.wp-block-button {
        margin-right: 0;
        margin-left: 0;
      }
    }

    > .wp-block-button {
      &.wp-block-button__width-25 {
        width: calc(25% - 1em * 0.75);
      }

      &.wp-block-button__width-50 {
        width: calc(50% - 1em * 0.5);
      }

      &.wp-block-button__width-75 {
        width: calc(75% - 1em * 0.25);
      }

      &.wp-block-button__width-100 {
        width: auto;
        flex-basis: 100%;
      }
    }
  }
}
