// Apply max-width to floated items that have no intrinsic width
// .wp-block[data-align="left"] > [data-type="core/embed"],
// .wp-block[data-align="right"] > [data-type="core/embed"],
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  // Instagram widgets have a min-width of 326px, so go a bit beyond that.
  max-width: 360px;
  width: 100%;

  // Unless these have a min-width, they collapse when floated.
  .wp-block-embed__wrapper {
    min-width: 280px;
  }
}

.wp-block-embed {
  // Supply caption styles to embeds, even if the theme hasn't opted in.
  // Reason being: the new markup, figcaptions, are not likely to be styled in the majority of existing themes,
  // so we supply the styles so as to not appear broken or unstyled in those.
  figcaption {
    margin-top: 0.5em;
  }
  // The embed block is in a `figure` element, and many themes zero this out.
  // This rule explicitly sets it, to ensure at least some bottom-margin in the flow.
  margin-bottom: 1.5em;

  // Don't allow iframe to overflow it's container.
  iframe {
    max-width: 100%;
  }
}

@if $is-frontend {
  .wp-block-embed__wrapper {
    @include gs-proportional(2, 1);
  }

  .wp-embed-aspect-21-9 .wp-block-embed__wrapper {
    @include gs-proportional(21, 9);
  }

  .wp-embed-aspect-18-9 .wp-block-embed__wrapper {
    @include gs-proportional(18, 9);
  }

  .wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    @include gs-proportional(16, 9);
  }

  .wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    @include gs-proportional(4, 3);
  }

  .wp-embed-aspect-1-1 .wp-block-embed__wrapper {
    @include gs-proportional(1, 1);
  }

  .wp-embed-aspect-9-16 .wp-block-embed__wrapper {
    @include gs-proportional(9, 16);
  }

  .wp-embed-aspect-1-2 .wp-block-embed__wrapper {
    @include gs-proportional(1, 2);
  }
}
