.wp-block-image {
  margin-bottom: 1.5em;

  img {
    // height: auto;
    // max-width: 100%;
    vertical-align: bottom;
  }

  // &:not(.is-style-rounded) {
  //   > a,
  //   img {
  //     border-radius: inherit;
  //   }
  // }

  &.aligncenter {
    text-align: center;
  }

  &.alignfull img,
  &.alignwide img {
    // height: auto;
    width: 100%;
  }

  &.alignleft,
  &.alignright,
  &.aligncenter,
  .alignleft,
  .alignright,
  .aligncenter {
    display: table;

    > figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }

  .alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-right: 0;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  // This is needed for classic themes where the align class is not on the container.
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  // Supply caption styles to images, even if the theme hasn't opted in.
  // Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
  // so we supply the styles so as to not appear broken or unstyled in those themes.
  // figcaption {
  //   @include caption-style();
  // }
}

.wp-caption {
  @extend figure !optional;
}

.wp-caption-text {
  @extend figcaption;
}

.wp-block-image figure {
  margin: 0;
}
