// ==========================================================================
// Blocks
// https://github.com/WordPress/gutenberg/tree/wp/6.1/packages/block-library/src
// ==========================================================================
@import 'wordpress/a11y';
@import 'wordpress/alignment';
@import 'wordpress/article';
@import 'wordpress/button';
@import 'wordpress/buttons';
@import 'wordpress/colors';
@import 'wordpress/columns';
@import 'wordpress/comment';
@import 'wordpress/embed';
@import 'wordpress/font-sizes';
@import 'wordpress/gallery';
@import 'wordpress/gform';
@import 'wordpress/image';
@import 'wordpress/media-text';

// ==========================================================================
// Figcaption
// https://github.com/WordPress/gutenberg/tree/wp/6.1/packages/base-styles/_mixins.scss
// ==========================================================================
:where(figcaption) {
  margin-top: 0.5em;

  .aligncenter & {
    text-align: center;
  }

  .alignfull & {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  @if $is-frontend == false {
    font-size: 90%;

    [data-align='full'] & {
      text-align: center;
    }
  }
}
