@use 'sass:math';

html {
  color: var(--wp--preset--color--foreground, $color-foreground);
  font-family: $font-content;
  @include gs-breakpoint-loop($font-size-roots) using ($item) {
    font-size: math.div($item, 16px) * 100%;
  }
  line-height: $font-line-height; /* stylelint-disable-line */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-heading;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

[type='checkbox'], [type='radio'] {
  accent-color: $color-major;
}
